* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    max-width: 100%;
    height: 100%;
    background: #111111;
}
.wrapper {
    background-color: #111111;
    max-width: 100%;
    min-height: 100vh;
}
.brand {
    /* position: fixed; */
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 40px;
    padding: 50px;
    letter-spacing: 1.1cm;
    cursor: pointer;
    text-shadow: 3.5px 3.5px 3.5px rgba(255, 255, 255, 0.25);
}
nav {
    position: absolute;
    top: 10%;
    left: 70%;
    padding: 0px 20px 0px 0;
    font-size: 20px;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.services {
    margin-right: 100px;
    width: 100px;
    height: 100px;
}
.services:hover {
    color: rgb(182, 182, 182);  
}

.about {
    background: white; 
    color: #0D0D0D;
    padding: 0.18rem 0.4rem;
    border-radius: 0.4rem;
    animation: pageload 7.5s ease-out;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}
.about:hover {
    color: white;
    background: none;
    transition: .25s ease-in-out;
}
.holder {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.design {
    width: fit-content;
    margin: auto;
    display: block;
    float: none;
    font-size: 130px;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255 , 0.040); 
    position: relative;
    bottom: 50px;
    animation: desanime 1s;
    animation-delay: 3.8s;
}
@keyframes desanime {
    0%{
        opacity: 0;
    } 
    100% {   
        opacity: 100%;
    }
}
@keyframes thoanime {
    0%{
        opacity: 0;
    } 
    100% {   
        opacity: 100%;
    }
}
@keyframes ideasanime {
    0%{
        opacity: 0;
    } 
    100% {   
        opacity: 100%;
    }
}
.thoughts {
    width: fit-content;
    margin: auto;
    display: block;
    float: none;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255 , 0.040);
    position: relative;
    bottom: 70px;
    animation: thoanime 2s;
    animation-delay: 3.8s;
}
.idea {
    width: fit-content;
    margin: auto;
    display: block;
    float: none;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255 , 0.040);
    position: relative;
    bottom: 50px;
    animation: ideasanime 3s;
    animation-delay: 3.8s;
}
.page2{
    max-width: 100%;
    min-height: 100vh;
    background: #111111;
    position: relative;
}
.page3 {
    min-width: 100%;
    min-height: 100vh;
    background: #111111;
    overflow-x: hidden;
}
.page4{
    min-width: 100%;
    min-height: 100vh;
    background: #111111;
}
.page5{
    min-width: 100%;
    min-height: 100vh;
    background: #111111;
}
.popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0, 0, 0.8);
    z-index: 1;
    display: none;
}
.popup .content{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%) scale(0);
    background: white;
    color:black;
    width: 800px;
    height: 600px;
    z-index: 99999;
    padding: 60px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.popup .close-btn{
    cursor: pointer;
    position: absolute;
    top:20px;
    right:20px;
    background-color: #000;
    color: white;
    font-size: 23px;
    line-height: 25px;
    width: 25px;
    height: 25px;
    border-radius: 50px;
}
.popup.active .overlay{
    display: block;
}
.popup.active .content{
    transition: all 300ms ease-in-out;
    transform: translate(-50% , -50%) scale(1);
}
.typing1{
    overflow: hidden;
    white-space: nowrap;
    display: block;
    color: white;
    font-family: 'Poppins',sans-serif;
    font-size: 30px;
    font-weight: lighter;
}
.typing2{
    overflow: hidden;
    white-space: nowrap;
    display: block;
    color: white;
    font-family: 'Poppins',sans-serif;
    font-size: 30px ;
    font-weight: lighter;
}
.typ3{
    overflow: hidden;
    white-space: nowrap;
    display: block;
    color: white;
    font-family: 'Poppins',sans-serif;
    font-size: 30px ;
    font-weight: lighter;
}
.typ4{
    overflow: hidden;
    white-space: nowrap;
    display: block;
    color: white;
    font-family: 'Poppins',sans-serif;
    font-size: 30px ;
    font-weight: lighter;
}
.typing1::after,.typing2::after {
    content: "|";
    font-size: smaller;
}
@keyframes type4 {
    0%,50%,100% {
      width: 0;
    }
    60%, 90% {
      width: 9.35em;
    }
    95%, 100% {
        width: 0;
    }
}
@keyframes type3 {
    0%,50%,100% {
      width: 0;
    }
    60%, 80% {
      width: 7.8em;
    }
    90%, 100% {
        width: 0;
    }
}
@keyframes type2 {
    0%,50%,100% {
      width: 0;
    }
    60%, 70% {
      width: 5.5em;
    }
    80%, 100% {
        width: 0;
    }
}
@keyframes type1 {
    0%,50%,100% {
      width: 0;
    }
    10%, 40% {
      width: 12.75em;
    }
}
@keyframes caret {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
}
.typing1 {
    animation: type1;
}
.typing2 {
    animation: type2;
}
.typ3 {
    animation: type3;
}
.typ4 {
    animation: type4;
}
.typing1,.typing2,.typ3,.typ4 {
    overflow: hidden;
    white-space: nowrap;
    display: block;
    position: relative;
    animation-duration: 15s;
    animation-timing-function: steps(25, end);
    animation-iteration-count: infinite;
    animation-delay: 4.15s;
}
.typing1::after,.typing2::after,.typ3::after,.typ4::after {
    content: "|";
    position: absolute;
    top: 5px;
    right: 0px;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(15, end);
    
}

.type h1, .type2 h1{
    width: fit-content;
    margin: auto;
    display: block;
    float: none;
}
.type {
    position: relative;
    top: 200px;
}
.type2 {
    position: relative;
    top: 80px;
}
.langs {
    position: absolute;
    top: 51%;
    left: 52%;
    transform: translate(-50%, -50%);
    animation: scale 3s infinite;
}
@keyframes scale {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    
    50% {
        opacity: 100%;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
#html {
    position: relative;
    top: 130px;
    right: 30px;
    color: rgb(252, 105, 7);
    margin: 0px auto;
    font-size: 50px;
    text-align: center;
}
#css {
    position: relative;
    top: 320px;
    right: 200px;
    color: rgb(56, 101, 248);
    margin: 0px auto; 
    font-size: 40px;
    text-align: center;
}
#js {
    position: relative;
    top: 380px; 
    left: 80px;
    margin: 0px auto; 
    font-size: 45px;
    text-align: center;
}
#python {
    position: relative;
    top: 40px;
    left: 130px;
    margin: 0px auto;
    font-size: 30px;
    text-align: center;   
}
#and {
    position: relative;
    top: 260px;
    right: 120px;
    color: rgb(0, 255, 76);
    margin: 0px auto;
    font-size: 40px;
    text-align: center;
}
#wordpress{
    position: relative;
    bottom: 55px;
    right: 190px;
    color: rgb(7, 203, 252);
    margin: 0px auto;
    font-size: 40px;
    text-align: center;
}
#flutter {
    position: relative;
    top: 40px;
    left: 170px;
    color: white;
    margin: 0px auto;
    font-size: 35px;
    text-align: center;
}

.product {
    border: 2px solid rgb(189, 125, 189);
    position: relative;
    top: 140px;
    left: 3%;
    border-radius: 10px 10px 10px 0;
}
.prods{
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: lighter;
    position: absolute;
    left: 74.6%;
    top: 230%;
    color: #ffffff;
}
.bus{
    border: 2px solid rgb(189, 125, 189);
    position: relative;
    top: 140px;
    left: 33%;
    border-radius: 10px 10px 10px 0;
}
.business {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: lighter;
    position: absolute;
    right: 77%;
    top: 330%;
    color: #ffffff;
}
.port{
    border: 2px solid rgb(189, 125, 189);
    position: relative;
    top: 140px;
    left: 3%;
    border-radius: 10px 10px 10px 0;
}
.portfolio {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: lighter;
    position: absolute;
    left: 77%;
    top: 430%;
    color: #ffffff;
}
.backtotop {
    position: fixed;
    right: 50px;
    bottom: 135px;
    font-size: 20px;
    font-weight: lighter;
    color: white;
    animation: pageload 8s;
    font-weight: lighter;
}
footer {
    background-color: black;
    min-height: 10vh;
    max-width: 98vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    animation: pageload 8s ease-out;
}
footer ul{
    display: flex;
    justify-content: space-evenly;
}
footer ul li {
    padding-top: 25px; 
}
#fb{
    font-size: 32px;
    color: white;
}
#gmail{
    font-size: 32px;
    color: white;
}
#linkedin {
    font-size: 32px;
    color: white;
}
.anime {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100vh;
    background-color: white;
    transform: translate(-50%,-50%);
    transform-origin: bottom center;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.circle {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    display: inline-block;
    animation: loading 1.38s ease-in-out infinite; 
    margin: 3.5px;
}
.circle1 {
    animation-delay: 0.1s;
}
.circle2 { 
    animation-delay: 0.2s;
}
.circle3 {
    animation-delay: 0.3s;
}
.circle4 {
    animation-delay: 0.4s;
}
.circle5 {
    animation-delay: 0.5s;
}
@keyframes loading {
    0% {
        transform: translate(0px,0px);
        background: transparent;
    }
    50% {
        width: 7.5px;
        height: 7.5px;
        transform: translate(0px,-50px);
        background: #0D0D0D;
    }
    100% {
        transform: translate(0px,0px);
        background: transparent;
    }
}
.anime.hidden {
    animation: animate 4s;
    animation-fill-mode: forwards; 
}
@keyframes animate {
    100% {
        opacity: 0;
        visibility: hidden;
    }
    0%,25% {
        opacity: 100;
        visibility: visible;       
    }
}
@keyframes pageload {
    0%,25%,50%{
        visibility: hidden;
    }
    100% {   
        visibility: visible;
    }
}
.page2,.page3,.page4,.page5 {
    animation: pageload 8s;
}

@media only screen and (max-width: 1450px) {
    .product {
        left: 15%;
        width: 70%;
        height: auto;
    }
    .prods{
        left: 40%;
        top: 285%;
    }
    .bus{
        left: 15%;
        width: 70%;
        height: auto;
    }
    .business {
        right: 45%;
        top: 385%;
    }
    .port{
        left: 15%;
        width: 70%;
        height: auto;
    }
    .portfolio {
        left: 45%;
        top: 485%;
    }
    .backtotop {
        position: fixed;
        right: 50px;
        bottom: 135px;
        font-size: 20px;
        font-weight: lighter;
        color: white;
        animation: pageload 8s;
    }
    .langs {
        width:fit-content;
        margin: auto;
        display: block;
        float: none;
    }
}

@media only screen and (max-width: 1050px) 
{
    .wrapper {
        min-height: 100vh;
    }
    .design {
        font-size: 12vw;
    }
    .thoughts {
        font-size: 5vw;
    }
    .idea {
        font-size: 2vw;
    }
    nav ul li {
        font-size: 20px;
        margin: 15px 30px;
    }
    .brand {
        font-size: 4vw;
    }
    .typing1{
        font-size: 30px;
    }
    .typing2{
        font-size: 30px ;
    }
    .typ3{
        font-size: 30px ;
    }
    .typ4{
        font-size: 30px ;
    }
    .prods{
        left: 40%;
        top: 260%;
    }
}

@media only screen and (max-width: 900px) 
{
    nav ul li {
        font-size: 2.2vw;
        margin: 10px 10px;
    }
    .langs {
        width:fit-content;
        margin: auto;
        display: block;
        float: none;
    }
}
@media only screen and (max-width: 800px) 
{
    nav ul li {
        display: block;
        position: relative;
        top: 30px;
        margin: 0;
    }
    
    .services {
        position: relative;
        bottom: 30px;
    }
    .langs {
        width:fit-content;
        margin: auto;
        display: block;
        float: none;
    }
}
@media only screen and (max-width: 625px)
{
    .brand {
        font-size: 5.2vw;
        letter-spacing: 1cm;
        text-align: center;
    }
    nav ul li {
        display: block;
        position: relative;
        top: 40px;
        
    }
    .design{
        font-size: 60px;
        top: 30px;
    }
    .thoughts {
        font-size: 6vw;
        top: 10px
    }
    .idea {
        font-size: 4vw;
        top: 10px;
    }
    .product {
        left: 5%;
        width: 90%;
        height: auto;
    }
    .prods{
        left: 40%;
        top: 285%;
    }
    .bus{
        left: 5%;
        width: 90%;
        height: auto;
    }
    .business {
        right: 45%;
        top: 385%;
    }
    .port{
        left: 5%;
        width: 90%;
        height: auto;
    }
    .portfolio {
        left: 45%;
        top: 485%;
    }
    .backtotop {
        position: fixed;
        right: 50px;
        bottom: 135px;
        font-size: 20px;
        font-weight: lighter;
        color: white;
        animation: pageload 8s;
    }
}

@media only screen and (max-width : 491px) {
    .wrapper {
        max-width: 100%;
        margin: 0 auto;
        height: auto;
        width: auto;
    }
    nav ul li {
        position: absolute;
        right: 50px;
        margin: 0 auto;
    }
    .about {
        position: absolute;
        bottom: 8px;
        right: 20px;
    }
    nav ul li a {
        font-size: 14px;
    }
    .brand {
        text-align: center;
        
        font-size: 5.25vw;
        letter-spacing: 0.9cm;
    }    
    .design{
        position: relative;
        top: 30px;
        font-size: 12vw;
    }
    .thoughts {
        font-size: 5vw;
        position: relative;
        top: 15px;
    }
    .idea {
        position: relative;
        top: 25px;
        font-size: 3.5vw;
    }
    .typing1{
        font-size: 6vw;
    }
    .typing2{
        font-size: 6vw ;
    }
    .typ3{
        font-size: 6vw ;
    }
    .typ4{
        font-size: 6vw ;
    }
    #html {
        font-size: 45px;
        top: 292px;
        right: 120px;
    }
    #css {
        font-size: 35px;
        right: 50px;
    }
    #js {
        
        left: 20px;
    }
    #python {
        font-size: 25px; 
        left: 90px;
    }
    #and {
        font-size: 40px;
        right: 90px;
    }
    #wordpress{
        font-size: 40px;
        right: 15px;
    }
    #flutter {
        font-size: 10px;
        left: 60px;
    }
    .langs {
        width: fit-content;
        margin: auto;
        display: block;
        float: none;
    }
    .prods {
        position: relative;
        top: 60px;
        left: 0;
        width: fit-content;
        margin: auto;
        display: block;
        float: none;
        font-size: 25px;

    }
    .business {
        position: relative;
        top: 60px;
        left: 0;
        width: fit-content;
        margin: auto;
        display: block;
        float: none;
        font-size: 25px;
    }
    .portfolio {
        position: relative;
        top: 75px;
        left: 0;
        width: fit-content;
        margin: auto;
        display: block;
        float: none;
        font-size: 25px;
        line-height: 0vw;
    }
    .backtotop {
        right: 15px;
    }
    .popup .overlay{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0, 0, 0.8);
        z-index: 1;
        display: none;
    }
    .popup .content{
        position: fixed;        
        top:50%;
        left: 50%;
        transform: translate(-50% , -50%) scale(0);
        background: white;
        width: 80vw;
        height: 75vh;
        z-index: 99999;
        padding: 38px;
        text-align: center;
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        font-size: 15px;
    }
    .popup .close-btn{
        cursor: pointer;
        position: absolute;
        top:17px;
        right:15px;
        background-color: #000;
        color: white;
        font-size: 20px;
        line-height: 20px;
        width: 20px;
        height: 20px;
        border-radius: 50px;
    }
    .page3 {
        max-height:100%;
    }
    .page4 {
        max-height:100%;   
    }
    .services:hover{
        color: white;
        background-color: black;
        padding: none;
        transition: none ;
        border-radius: none;
        box-shadow: none;
    }
}

@media only screen and (max-width : 400px)
{
    .brand {
        position: relative;
        text-align: center;
        font-size: 6vw;
    }
    .design {
        top: 60px;
        font-size: 12vw;
    }
    .thoughts {
        top: 60px;
        font-size: 7vw;
    }
    .idea {
        top: 70px;
        font-size: 4.5vw;
    }
    #html {
        font-size: 45px;
        top: 292px;
        right: 120px;
    }
    #css {
        font-size: 35px;
        right: 50px;
    }
    #js {
        
        left: 20px;
    }
    #python {
        font-size: 25px; 
        left: 90px;
    }
    #and {
        font-size: 40px;
        right: 90px;
    }
    #wordpress{
        font-size: 40px;
        right: 15px;
    }
    #flutter {
        font-size: 10px;
        left: 60px;
    }
    .langs {
        margin-left: 160px;
    }
    .backtotop {
        right: 15px;
    }
    .services:hover{
        color: white;
        background-color: black;
        padding: none;
        transition: none ;
        border-radius: none;
        box-shadow: none;
    }
}
@media only screen and (max-width: 585px) {
    .brand {
        font-size: 1.8rem;
    }
    nav ul li { 
        position: absolute;
        top: 50px;
        
    }
}
@media only screen and (max-width: 402px) {
    .brand {
        font-size: 5vw;
        
    }
    nav { 
        position: absolute;
        right: 25px;
    }

    
}
