* {
    scroll-behavior: smooth;
} 
body {
    margin: 0;
    background: #111111;
    box-sizing: border-box;  
}
.container {
    width: 100%;
    margin: 0 auto;
}
.container-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.brand {
    font-size: 1.6rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    letter-spacing: 0.85cm;
    cursor: pointer;
    text-shadow: 3.5px 3.5px 3.5px rgba(255, 255, 255, 0.25);
    margin-top: 1em;
    margin-left: 1.5em;
    animation: brandanime 3s infinite;
}
/* @keyframes brandanime {
    0% {
        color: white;
    }
    50% {
        background-image: linear-gradient(45deg, #fff, rgb(110, 110, 110));
        background-size: 100%;
        -webkit-background-clip: text;
        -webkit-transition: background-image 1000ms linear;
        -webkit-text-fill-color: transparent;
        transition-timing-function: ease-in;
    }
    100% {
        background-image: linear-gradient(45deg,rgb(110, 110, 110), white);
        background-size: 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
} */
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
nav li {
    margin: 0 1em;
    
}
nav a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.services:hover {
    color: rgb(182, 182, 182);  
}
.about {
    background: white; 
    color: #0D0D0D;
    padding: 0.18rem 0.4rem;
    border-radius: 0.4rem;
    animation: pageload 7.5s ease-out;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}
.about:hover {
    color: white;
    background: none;
    transition: .25s ease-in-out;
}
.holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 12em;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255 , 0.040);
    margin-bottom: 0;
    position: relative;
    width: fit-content;
}
.design {
    font-size: 6rem;
    margin-bottom: 0;
    margin: 0;
    animation: desanime 1s;
    animation-delay: 3.8s;
}
.thou {
    margin: 0;
    font-size: 1.75rem;
    margin-bottom: 0;
    animation: thoanime 2s;
    animation-delay: 3.8s;
    writing-mode: vertical-rl;
    text-orientation: upright;
    position: absolute;
    bottom: 100px;
    right: 120px;
}
.hts {
    margin: 0;
    font-size: 1.75rem;
    margin-bottom: 0;
    animation: thoanime 2s;
    animation-delay: 3.8s;
    writing-mode: vertical-rl;
    text-orientation: upright;
    position: absolute;
    top: 130px;
    right: 120px;
}
.idea {
    margin: 0;
    font-size: 1.75rem;
    margin-bottom: 0;
    animation: ideasanime 3s;
    animation-delay: 3.8s;
    position: absolute;
    top: 207px;
    left: 140px;
    letter-spacing: 0.1cm;
}
/* @media screen and (min-width:360px) {
    .design {
        font-size: 5rem;
        margin: 0 auto;
    }
    .thou {
        bottom: 80px;
        left: 210px;
    }
    .hts {
        top: 110px;
        left: 210px;
    }
    .idea {
        bottom
    }
} */
@keyframes desanime {
    0%{
        opacity: 0;
    } 
    100% {   
        opacity: 100%;
    }
}
@keyframes thoanime {
    0%{
        opacity: 0;
    } 
    100% {   
        opacity: 100%;
    }
}
@keyframes ideasanime {
    0%{
        opacity: 0;
    } 
    100% {   
        opacity: 100%;
    }
}
.popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0, 0, 0.8);
    z-index: 1;
    display: none;
}
.popup .content{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%) scale(0);
    background: white;
    color:black;
    width: 800px;
    height: 600px;
    z-index: 99999;
    padding: 60px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.popup .close-btn{
    cursor: pointer;
    position: absolute;
    top:20px;
    right:20px;
    background-color: #000;
    color: white;
    font-size: 23px;
    line-height: 25px;
    width: 25px;
    height: 25px;
    border-radius: 50px;
}
.popup.active .overlay{  
    display: block;
}
.popup.active .content{
    margin: 0 auto;
    transition: all 300ms ease-in-out;
    transform: translate(-50% , -50%) scale(1);
}
.typing1{
    overflow: hidden;
    white-space: nowrap;
    display: block;
    color: white;
    font-family: 'Poppins',sans-serif;
    font-size: 26px;
    font-weight: lighter;
}
.typing2{
    overflow: hidden;
    white-space: nowrap;
    display: block;
    color: white;
    font-family: 'Poppins',sans-serif;
    font-size: 26px ;
    font-weight: lighter;
}
.typ3{
    overflow: hidden;
    white-space: nowrap;
    display: block;
    color: white;
    font-family: 'Poppins',sans-serif;
    font-size: 26px ;
    font-weight: lighter;
}
.typ4{
    overflow: hidden;
    white-space: nowrap;
    display: block;
    color: white;
    font-family: 'Poppins',sans-serif;
    font-size: 26px ;
    font-weight: lighter;
}
.typing1::after,.typing2::after {
    content: "|";
    font-size: smaller;
}
@keyframes type4 {
    0%,50%,100% {
      width: 0;
    }
    60%, 90% {
      width: 9.35em;
    }
    95%, 100% {
        width: 0;
    }
}
@keyframes type3 {
    0%,50%,100% {
      width: 0;
    }
    60%, 80% {
      width: 7.8em;
    }
    90%, 100% {
        width: 0;
    }
}
@keyframes type2 {
    0%,50%,100% {
      width: 0;
    }
    60%, 70% {
      width: 5.5em;
    }
    80%, 100% {
        width: 0;
    }
}
@keyframes type1 {
    0%,50%,100% {
      width: 0;
    }
    10%, 40% {
      width: 12.75em;
    }
}
@keyframes caret {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
}
.page2 {
    margin-top: 9em;
}
.typing1 {
    animation: type1;
}
.typing2 {
    animation: type2;
}
.typ3 {
    animation: type3;
}
.typ4 {
    animation: type4;
}
.typing1,.typing2,.typ3,.typ4 {
    overflow: hidden;
    white-space: nowrap;
    display: block;
    position: relative;
    animation-duration: 15s;
    animation-timing-function: steps(25, end);
    animation-iteration-count: infinite;
    animation-delay: 4.15s;
}
.typing1::after,.typing2::after,.typ3::after,.typ4::after {
    content: "|";
    position: absolute;
    top: 5px;
    right: 0px;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(15, end);
    
}
.type h1, .type2 h1{
    width: fit-content;
    margin: auto;
    display: block;
    float: none;
}
.type {
    position: relative;
    top: 200px;
}
.type2 {
    position: relative;
    top: 80px;
}
footer {
    width: 100%;
    min-width: 375px;
    margin: 0;
    background-color: black;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    border-radius: 10px 10px 0 0;
    min-height: 12vh;
}
footer ul {
    display: flex;
    padding: 1.75em;
    justify-content: space-around;
    margin: 0.3em;
}
#fb{
    font-size: 32px;
    color: white;
}
#gmail{
    font-size: 32px;
    color: white;
}
#linkedin {
    font-size: 32px;
    color: white;
}
.imgs {
    margin: auto;
    display: block; /* centres the img */
    width: 90%;
    max-width: 960px; 
    border: 2px solid rgb(189, 125, 189);
    border-radius: 6px 6px 6px 0;      
}
.cat {
    margin:5em auto;
}
.cat1 {
    margin-top: 25em;
}
.cat h1{
    position: relative;
    bottom: 80px;
    color: whitesmoke;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    font-weight: lighter;
}
/* .cat1 {

}  */
.backtotop {
    position: fixed;
    right: 20px;
    bottom: 135px;
    font-size: 1.25rem;
    font-weight: lighter;
    color: white;
    animation: pageload 8s;
    font-weight: lighter;
}
#neilsen {
    font-weight: bolder;
}
/* .langs {
    display: flex;
    flex-direction: row;
    margin-top: 15em;
    position: relative;
}
#html {    
    color: rgb(252, 105, 7);
    font-size: 2.25em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#css {
    color: rgb(56, 101, 248);
    font-size: 1.85em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#wordpress {
    color: rgb(7, 203, 252);
    font-size: 35px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#flutter {
    font-size: 35px;
    display: flex;
    flex-direction: column;
    width: 35px;
    height: 35px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#and { 
    color: rgb(0, 255, 76);
    font-size: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#python {
    display: flex;
    flex-direction: column;
    width: 35px;
    height: 35px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#js {
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
} */
/* .cols {
    width: 100%;
    display: flex;
}
.madejust {
    width: 50%;
    font-size: 4em;
    text-align: center;
    color: white;
    background: black;
    font-family: 'Poppins',sans-serif;
}
.foryou {
    padding: 1em 0;
    width: 50%;
    font-size: 4em;
    text-align: center;
    background: white;
    font-family: 'Poppins',sans-serif;
} */
@media (min-width: 765px) {
    .brand {
        font-size: 2.10rem;
    }
    .design {
        font-size: 12rem;
    }
    .thou {
        bottom: 190px;
        right: 250px;
    }
    .hts {
        right: 250px;
        top: 275px;
    }
    .idea {
        top: 352px;
        left: 374px;
    }
    header {
        margin: 0;
        flex-direction: row;
        justify-content: space-around;
    }
    nav ul{ 
        margin-top: 6em;
    }
    nav li {
        font-size: 1.2rem;
        
    }
    /* .cat {
        display: flex;
        flex-direction: row;
    }
    .imgs {
        width: 80%;
        max-width: 960px;
    } */
    .page3 .cat1 .prods,
    .page4 .cat2 .business,
    .page5 .cat3 .portfolio{
        font-size: 1.75rem;
    }
}
@media (min-width: 675px) and (max-width:764px) {
    header {
        margin: 0;
        flex-direction: row;
        justify-content: space-around;
    }
    .brand {
        margin-top: 1.5em;
        font-size: 2rem;
    }
    nav ul{ 
        margin-top: 6em;
    }
    nav li {
        font-size: 1.15rem;
    }
    .page2 {
        margin-top: 9em;
    }
    .typing1, .typing2, .typ3, .typ4 {
        font-size: 1.75rem;
    }
    .cat1 {
        margin-top: 25em;
    }
    .cat {
        margin-bottom: 10rem;
    }
    .page3 .cat1 .prods,
    .page4 .cat2 .business,
    .page5 .cat3 .portfolio{
        font-size: 1.75rem;
    }
    .holder {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 12em;
        font-family: 'Poppins', sans-serif;
        color: rgb(255, 255, 255 , 0.040);
        margin-bottom: 0;
        position: relative;
        width: fit-content;
        
    }
    .design {
        font-size: 10rem;
        margin-bottom: 0;
        margin: 0;
        animation: desanime 1s;
        animation-delay: 3.8s;
    }
    .thou {
        margin: 0;
        font-size: 2.5rem;
        margin-bottom: 0;
        animation: thoanime 2s;
        animation-delay: 3.8s;
        writing-mode: vertical-rl;
        text-orientation: upright;
        position: absolute;
        bottom: 160px;
        right: 210px;
    }
    .hts {
        margin: 0;
        font-size: 2.5rem;
        margin-bottom: 0;
        animation: thoanime 2s;
        animation-delay: 3.8s;
        writing-mode: vertical-rl;
        text-orientation: upright;
        position: absolute;
        top: 225px;
        right: 210px;
    }
    .idea {
        margin: 0;
        font-size: 2.25rem;
        margin-bottom: 0;
        animation: ideasanime 3s;
        animation-delay: 3.8s;
        position: absolute;
        top: 340px;
        left: 263px;
        letter-spacing: 0.1cm;
    }
    @media (max-width: 572px) {
        .design {
            font-size: 9rem;
        }
    }

}
